<header>
    <!-- Your header content here -->
    <% const linkStyle="text-blue-500 hover:underline" ; %>
        <nav class="flex justify-center items-center px-8 pt-4">
            <% if (backLink && backLink !=='' ) { %>
                <a href="<%= backLink %>" class="<%= linkStyle %> mr-auto <%- !user ? 'w-28' : '' %>">Back</a>
                <% } %>
                    <a href="/"
                        class="<%= linkStyle %> <%= (backLink && backLink !== '') ? 'mr-6' : 'mr-auto' %> <%= (!user && (!backLink || backLink === '')) ? 'w-28' : '' %>">Home</a>
                    <div class="flex items-center relative">
                        <a href="/articles" class="<%= linkStyle %> mr-6">Articles</a>
                        <div class="relative group">
                            <a href="/author" class="<%= linkStyle %> pb-4">Dashboard</a>
                            <div
                                class="absolute left-0 top-8 text-sm hidden bg-white shadow-md rounded-lg group-hover:block">
                                <% const dropDownLinkStyle="block px-6 py-2 text-black rounded-lg hover:bg-gray-100" ;
                                    %>
                                    <a href="/author/articles/draft" class="<%= dropDownLinkStyle %>">Draft</a>
                                    <a href="/author/articles/draft/create" class="<%= dropDownLinkStyle %>">Create
                                        New</a>
                                    <a href="/author/articles/published" class="<%= dropDownLinkStyle %>">Published
                                        Articles</a>
                            </div>
                        </div>
                    </div>
                    <% if (user) { %>
                        <div class="relative ml-auto group">
                            <button
                                class="h-10 w-10 mb-4 flex justify-center items-center rounded-full bg-white text-black font-semibold">
                                <span>
                                    <%= user.name[0].toUpperCase() %>
                                </span>
                            </button>
                            <div
                                class="absolute top-12 right-0 bg-white shadow-md rounded-lg py-2 hidden group-hover:block">
                                <% const dropDownLinkStyle="block px-6 py-2 text-black text-sm hover:bg-gray-100" ; %>
                                    <a href="/author/settings" class="<%= dropDownLinkStyle %>">Settings</a>
                                    <a href="/users/logout" class="<%= dropDownLinkStyle %>">Logout</a>
                                    <% if (user.role==="ADMIN" ) { %>
                                        <a href="/admin" class="<%= dropDownLinkStyle %>">Admin</a>
                                        <% } %>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="ml-auto w-28">
                                <a href="/users/signin" class="<%= linkStyle %>">Signin</a>
                                <span class="text-blue-500">/</span>
                                <a href="/users/signup" class="<%= linkStyle %>">Signup</a>
                            </div>
                            <% } %>
        </nav>
</header>